body {
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height: 1.8em;
	color: #797C7A;
	width: 100vh;
	height: 100vh;
	overflow-x: hidden;
}

#header-filler {
	background-color: #5e452f;
	/* Elige el color que desees */
	height: 80px;
	z-index: 1;
}

a:hover {
	background: none;
	text-decoration: underline;
}

/* Header */

#header {
	width: 660px;
	height: 312px;
	background-color: #5e452f;
	background-image: url('images/logoalma.png');
	background-repeat: no-repeat;
	background-position: 50% center;
	z-index: 1;
}

.logoalma-link {
	display: block;
	width: 650px;
	height: 312px;
	z-index: 2;
}

/* Footer */

#footer {
	background-color: #5e452f;
	bottom: 380px;
	width: 206.2%;
	height: 380px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

#footer p {
	color: #ffffff;
	text-align: center;
	margin: 0;
}

#legal {
	text-align: center;
	font-size: 20px;
	margin: 0;
}

#brand {
	font-size: 24px;
	text-align: center;
	margin: 0;
}

.carousel {
	justify-content: center;
	left: 660px;
	top: -312px;
	width: 150%;
	height: 392px;
	overflow: hidden;
}

#header h1 {
	width: 100%;
	height: 312px;
	background-color: #5e452f;
	background-image: url('images/logoalma.png');
	background-repeat: no-repeat;
	background-position: 50% center;
}

.navbar {
	background-color: #5e452f;
	left: -80px;
}

.navbar-brand {
	color: #5e452f;
	justify-content: center;
}

.navbar-nav .nav-link {
	color: #ffffff;
}

.navbar-nav .nav-link:hover {
	color: #ffffff;
	font-size: 22px;
	text-align: center;
}

.navbar-nav .dropdown-menu .dropdown-item {
	color: #5e452f;
}

.nav-item {
	font-size: 20px;
	justify-content: center;
	color: wheat;
	margin-left: 70px;
}

.content h1 {
	position: relative;
	top: -460px;
	left: 880px;
	color: #5e452f;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	width: 100%;
	font-size: 60px;
}

.content-text p {
	position: relative;
	top: -430px;
	left: 875px;
	color: #5e452f;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	width: 80px;
	margin: 0 15px 10px;
	width: calc(100% - 100px);
	font-size: 23px;
	line-height: 2;
}

.content-text2 ul {
	position: relative;
	top: -150px;
	left: 90px;
	color: #5e452f;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	width: 80px;
	margin: 0 15px 10px;
	width: calc(100% - 100px);
	font-size: 25px;
	overflow: hidden;
	line-height: 2;
}

.content-text2 h1 {
	position: relative;
	top: -150px;
	left: 100px;
	color: #5e452f;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	width: 80px;
	margin: 0 15px 10px;
	width: calc(100% - 100px);
	font-size: 45px;
	overflow: hidden;
	line-height: 2;
}

.content {
	margin-top: 20px;
}

.column-container {
	column-count: 1;
	column-gap: 20px;
}

.image-content {
	width: 680px;
	height: 600px;
	float: left;
	margin-top: -410px;
	z-index: -1;
	overflow: hidden;
	position: relative;
	left: 20px;
}

.image-content-costal {
	position: relative;
	transform: scaleX(-1);
	text-align: right;
	margin-left: 1263px;
	top: -350px;
	overflow-y: hidden;
}

.all-content {
	margin: 10px;
}

.line-menu {
	background-color: antiquewhite;
	height: 1px;
	position: relative;
	z-index: 2;
	width: 500px;
	left: 68px;
}